node_modules/
dist-electron/
dist-app/
.next/
.env*
*.log
bin/
public/file.svg
public/globe.svg
public/icons/
public/manifest.json
public/next.svg
public/sw.js
public/vercel.svg
public/window.svg
components.json
eslint.config.mjs
instrumentation.ts
next-env.d.ts
.npmignore
playwright.config.ts
postcss.config.mjs
setup.sh
tsconfig.json
